/* body { 
    background: linear-gradient(#5f5f5f, #9198e5, #5f5f5f);
    position: sticky;
} */

.logo-div {
    /* background-color: gray; */
    width: 100%;
}

#logo {
    width: 25%;
    background-color: rgb(214, 214, 214);
}